<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Blogs | Create</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <header th:replace="~{fragments/header :: header}"></header>

    <form method="post"
          th:action="@{${formAction}}"
          class="container border p-3"
          th:object="${blog}">

      <h1 class="mb-3" th:text="${formTitle}">Create Blog</h1>

      <input type="hidden" th:if="${blog.id != null}" th:field="*{id}">

      <input type="text" id="title" name="title" class="form-control mb-3" th:field="*{title}" placeholder="Blog Title">


      <textarea id="content" name="content" class="form-control mb-3" th:field="*{content}" placeholder="Blog Content" rows="20"></textarea>

      <button type="submit" class="btn btn-primary" th:text="${submitLabel}">Create Blog</button>

    </form>

    <footer th:replace="~{fragments/footer :: footer}"></footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>
